@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white dark:bg-gray-900;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.prose {
  max-width: 100%;
  @apply text-gray-500 dark:text-gray-300;
}

.prose a {
  @apply text-green-500;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply text-gray-800 dark:text-gray-100;
}

.prose code,
.prose strong,
.prose blockquote {
  @apply text-gray-800 dark:text-white;
}
