@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-50 dark:bg-gray-900;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.prose {
  max-width: 100%;
  @apply text-gray-500 dark:text-gray-300;
}

.prose a {
  @apply text-green-500;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply text-gray-800 dark:text-gray-100;
}

.prose code,
.prose strong,
.prose blockquote {
  @apply text-gray-800 dark:text-white;
}

.prose code {
  @apply rounded bg-gray-200 dark:bg-gray-700;
}

code[class*="language-"] {
  @apply bg-transparent !important;
}

.token.property,
.token.tag {
  @apply text-blue-300;
}

.token.punctuation,
.token.script-punctuation.punctuation,
.token.operator,
.token.arrow.operator {
  @apply text-gray-400;
}

.token.function,
.token.maybe-class-name {
  @apply text-yellow-300;
}

.token.keyword.module,
.token.keyword,
.token.keyword.control-flow {
  @apply text-pink-400;
}

.token.attr-name,
.token.number {
  @apply text-white;
}

.token.attr-value,
.token.string {
  @apply text-yellow-600;
}
